
@media screen and (max-width:1920px) {
    

.header{
    position: relative;
    width: 1920px;
    height: 70px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
    z-index: 10;
    overflow: hidden;
    background: white;


}
.div1{
    width: 1920px;
    margin: 0%;
    position: relative;
   

}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('MuseoSansCyrl-700.ttf') format(truetype) ;
    font-weight: 500;

}

.header_logo{
    position: absolute;
    width: 151px;
    height: 32px;
    top: 20px;
    left: 405px;

}

.header_signup-button{
    position: absolute;
    width: 104px;
    height: 34px;
    top: 17px;
    left: 1141px;
    border-radius: 50px;
    border-width: 2px;
    border-color: #0C81F4;
    border: 2px solid rgba(12, 120, 247, 1);
    background-color: white;
    cursor: pointer;
    

   
}

.header_signup-text{
    width: 82;
    height: 34;
    top: 17px;
    left: 1152.72px;
    font-family: Museo Sans Cyrl;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #0C5EFF;
    margin: 2px;


    

    
}
.header_try-for-free{
    position: absolute;
    width: 269px;
    height: 43px;
    top: 13px;
    left: 1261px;
    border-radius: 50px;
    border: #0C81F4;
    background: linear-gradient(180deg, #0EA7E9 0%, #0C5EFF 100%);
    cursor: pointer;
}


.header_try-for-free-text{

    font-family: Museo Sans Cyrl;
    font-weight: 600px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: 'Museo Sans Cyrl';
    
}
.body{
    position: absolute;
}



.hero_vector-right{
    background-image: url(img2/hero-vector,right.png) ;
    position: absolute;
    top: 0px;
}
.hero_vector-left{
    background-image:url(img2/hero-vector,left.png) ;
    position: absolute;
    top:0px; 
    left: 1485px;

    
    
}
.hero_circle-big{
    position:absolute;
    width: 388px;
    height: 388px;
    border: 5px;
    left: 1114px;
    border-radius: 50%;
    background: rgba(59, 129, 235, 1);
    top: 122px;
    z-index: 2;
    opacity: 20%;
}
.hero_circle-small{
    position: absolute;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 5px;
    background: rgba(59, 129, 235, 1);
    left: 1007px;
    top: 102px;
    opacity: 20%;

}
.hero_circle-small2{
    position:absolute;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 5px;
    background: rgba(59, 129, 235, 1);
    left: 1109px;
    top: 481px;
    opacity: 20%;

}
.hero_laptop{
    background-image: url(img2/hero-laptop.png);
    position: absolute;
    width: 497.9361267089844px;
    height: 298px;
    top: 164px;
    left: 1053px;
    z-index: 12;
   
}
.hero_phone{
    background-image: url(img2/hero-phone.png); 
    position: absolute;
    width: 92;
    height: 187.1724090576172;
    top: 309.83px;
    left: 1375px;
    z-index: 15;
    

}


.hero_management{
    position:absolute;
    width: 619;
    height: 137;
    top: 156px;
    left: 438px;
    font-family: Museo Sans Cyrl;
    font-weight: 700;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    z-index: 5;
    

}
.highlight-CRM{
    font-family: Museo Sans Cyrl;
    font-weight: 700;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #0C5EFF;

}
.hero_decor-vertikal-line{
    position: absolute;
    width: 1px;
    height: 263px;
    top: 168px;
    left: 410px;
    background: rgba(217, 217, 217, 1);
    z-index: 3;


}
.hero_decor-vertikal-blueline{
    position: absolute;
    width: 10px;
    height: 112px;
    top: 158px;
    left: 405px;
    border-radius: 10px;
    background: rgba(59, 129, 235, 1);
    z-index: 20
    
}
.hero_easy-tracking{
    position: absolute;
    width: 456;
    height: 60;
    top: 293px;
    left: 440px;
    font-family: Museo Sans Cyrl;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(55, 55, 55, 1);

        
}
.hero_try-for-free{position: absolute;
    width: 271;
    height: 47;
    top: 395px;
    left: 440px;
    font-family: Museo Sans Cyrl;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(55, 55, 55, 1);

        

}
.highlight-free{
    font-family: Museo Sans Cyrl;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #0C81F4;
}
.hero_start-use-button{
    position: absolute;
    width: 246px;
    height: 50px;
    top: 465px;
    left: 405px;
    border-radius: 50px;
    border: #0C81F4;
    cursor: pointer;
    background: linear-gradient(180deg, #0EA7E9 0%, #0C5EFF 100%);


}
.hero_start-use{
    width: 194.14706420898438;
    height: 50;
    top: 465px;
    left: 432.73px;
    font-family: Museo Sans Cyrl;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: rgba(242, 242, 242, 1);

        
}
.hero_demo-button{
    position: absolute;
    width: 196px;
    height: 50px;
    top: 465px;
    left: 666px;
    border-radius: 50px;
    border-width: 2px;
    border: 2px solid rgba(12, 120, 247, 1);
    background-color: white;
    cursor: pointer;
    
}
.hero_demo{
    width: 154.686279296875;
    height: 50;
    top: 465px;
    left: 688.1px;
    font-family: Museo Sans Cyrl;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: rgba(12, 129, 244, 1);
        
}
.hero_container-sponsors{ position: absolute;
    width: 1925px;
    height: 162px;
    top: 601px;
    left: -4px;
    background: rgba(250, 253, 255, 1);
    border: 5px;

}
.hero_decor-border-line{
    position: absolute;
    width: 1925px;
    height: 1px;
    top:595px ;
    left: -5px;
    background: rgba(199, 199, 199, 1);
    z-index: 3;
}
.hero_decor-border-line2{
    position: absolute;
    width: 1925px;
    height: 1px;
    top: 753px;
    left: -4px;
    z-index: 3;
    background: rgba(199, 199, 199, 1);

}
.hero_uklon-logo{
    background-image:url(img2/hero-uklon-logo.png);
    position: absolute;
    width: 110.3740005493164px;
    height: 28.0049991607666px;
    top: 669px;
    left: 405px;

}
.hero_haski-logo{
    background-image: url(img2/logo-haski.png);
    position: absolute;
    width: 120px;
    height: 40px;
    top: 669px;
    left: 600px;

}
.hero_monobank-logo{
    background-image: url(img2/hero-monobank-logo.png) ;
    position: absolute;
    width: 136.27200317382812px;
    height: 19.444000244140625px;
    top: 674px;
    left: 775px;
    
}
.hero_hurma-logo{
    background-image:url(img2/hero-hurma-logo.png) ;
    position: absolute;
    width: 121.80599975585938px;
    height: 32px;
    top: 668px;
    left: 997px;
    
}
.hero_braintank-logo{
    background-image: url(img2/hero-braintank-logo.png);
    position: absolute;
    width: 179.77603149414062px;
    height: 27px;
    top: 670px;
    left: 1185px;
    
}
.hero_iplan-logo{
    position: absolute;
    width: 96.4250030517578px;
    height: 34.861000061035156px;
    top: 666px;
    left: 1419px;
    
}
.hero_adventage{
    position: absolute;
    width: 1041px;
    height: 62px;
    top: 854px;
    left: 405px;
    font-family: Museo Sans Cyrl;
    font-weight: 700px;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    
    
}
.highlight-orglines{
    font-family: Museo Sans Cyrl;
    font-weight: 700px;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: rgba(59, 129, 235, 1);

    
}
.hero2_decor-horizontal-line{
    position: absolute;
    width: 1px;
    height: 167px;
    top: 981px;
    left: 697px;
    background: rgba(217, 217, 217, 1);

    
}

.hero2_decor-vertikal-line{
    position: absolute;
    width: 433.0000000000004px;
    height: 1.0000000000000009px;
    top: 924px;
    left: 750px;
    z-index: 4;
    background: rgba(217, 217, 217, 1);

       
}
.hero2_decor-horizontal-blueline{
    position: absolute;
    width: 10.000001907348642px;
    height: 50.00000000000004px;
    top: 899px;
    left: 955.5px;
    rotate: -90deg;
    border-radius: 10px;
    z-index: 5;
    background: rgba(59, 129, 235, 1);

    
}
.hero2_decor-vertikal-blueline{
    position: absolute;
    width: 10px;
    height: 53px;
    top: 971px;
    left: 692px;
    border-radius: 10px;
    background: rgba(59, 129, 235, 1);

}
.hero2_decor-circle{
    position: absolute;
    width: 226px;
    height: 226px;
    border-radius: 50%;
    border: 5px;
    background: rgba(59, 129, 235, 1);
    left: 447px;
    top: 947px;
    opacity: 11%;

}
.hero2_laptop{
    position: absolute;
    width: 229.68113708496094px;
    height: 228.0069122314453px;
    top:927px;
    left: 420px;
    

}
.hero2_laptop-element1{
    position: absolute;
    width: 82.63678741455078px;
    height: 97.54086303710938px;
    top: 1020px;
    left: 483.37px;
    
}
.hero2_laptop-element2{
    position: absolute;
    width: 7.4149699211120605px;
    height: 27.16328239440918px;
    top: 1008px;
    left: 625px;

}
.hero2_easy-management{
    position: absolute;
    width: 495px;
    height: 52px;
    top: 971px;
    left: 719px;
    font-family: Museo Sans Cyrl;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: rgba(36, 35, 35, 1);
    
}
.hero2_management-work{
    position: absolute;
    width: 760px;
    height: 115px;
    top: 1032px;
    left: 719px;
    font-family: Museo Sans Cyrl;
    font-weight: 300px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: rgba(73, 73, 73, 1);   
}
.line9{
    position: absolute;
    width: 1px;
    height: 167.0000000000000009px;
    top: 1343px;
    left: 412px;
    z-index: 1;
    background: rgba(217, 217, 217, 1);

       
}

.line10{
    position: absolute;
    width: 10px;
    height: 53px;
    top: 1338px;
    left: 407px;
    border-radius: 10px;
    background: rgba(59, 129, 235, 1);
    z-index: 2;

}
.div3{ 
    position:absolute;
    width: 1925px;
    height: 390px;
    top: 1239px;
    left: -4px;
    background: rgba(250, 253, 255, 1);
    


}
.hero2_horizontal-border-line1{
    position: absolute;
    width: 1925px;
    height: 1px;
    top: 1233px;
    left: -4px;
    z-index: 4;
    
}
.hero2_horizontal-border-line2{
    position: absolute;
    width: 1925px;
    height: 1px;
    top: 1623px;
    left: -4px;
    z-index: 4;

}
.hero2_full-painting{
    position: absolute;
    width: 448px;
    height: 38px;
    top: 1349px;
    left: 441px;
    font-family: Museo Sans Cyrl;
    font-weight: 600px;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0%;
    text-transform: uppercase;
    z-index: 5;   
}
.hero2_orgline-allows-to{
    position: absolute;
    width: 758px;
    height: 146px;
    top: 1393px;
    left: 441px;
    z-index: 3;
    font-family: Museo Sans Cyrl;
    font-weight: 300px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: rgba(73, 73, 73, 1);
   
}
.hero2_decor-circle2{
    position: absolute;
    width: 226px;
    height: 226px;
    top: 1326px;
    left: 1285px;
    opacity: 11%;
    border-radius: 50%;
    z-index: 1;
    background-color: #0C5EFF;
}
.hero2_decor-pc{
    position: absolute;
    width: 224.9453125px;
    height: 264px;
    top: 1301px;
    left: 1260px;
    
    z-index: 4;
    
}
.div4{ position: absolute;
    width: 1925px;
    height: 1922px;
    top: 2045px;
    left: -2px;
    background: rgba(250, 253, 255, 1);


}
.hero3_border-line{
    position: absolute;
    width: 1925px;
    height: 1px;
    top: 2039px;
    background: rgba(199, 199, 199, 1);
    z-index: 4;
}
.hero3_decor-vertikal-line{
    position: absolute;
    width: 1px;
    height: 167.0000000000000009px;
    top: 1717px;
    left: 754px;
    z-index: 1;
    background: rgba(217, 217, 217, 1);
    opacity: 20%;

}
.hero3_decor-blue-line{
    position: absolute;
    width: 10px;
    height: 53px;
    top: 1707px;
    left: 749px;
    border-radius: 10px;
    background: rgba(59, 129, 235, 1);
    z-index: 2;
    opacity: 20%;

}
.hero3_decor-opacity-laptop{
    position: absolute;
    width: 264px;
    height: 210px;
    top: 1725px;
    left: 419px;
    opacity: 40%;
    

}
.hero3_easy-control{
    position: absolute;
    width: 610px;
    height: 53px;
    top: 1707px;
    left: 792px;
    opacity: 0.2;
    font-family: Museo Sans Cyrl;
    font-weight: 600px;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;   
}
.hero3_integration-with-popular-platform{
    position: absolute;
    width: 740px;
    height: 145px;
    top: 1762px;
    left: 792px;
    opacity: 0.2;
    font-family: Museo Sans Cyrl;
    font-weight: 300px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    
    
}
.hero3_button-start{
    position: absolute;
    width: 246px;
    height: 50px;
    top: 1917px;
    left: 791px;
    border-radius: 50px;
    opacity: 20%;
    border: #0C81F4;
    cursor: pointer;
    background: linear-gradient(180deg, #0EA7E9 0%, #0C5EFF 100%);


}
.hero3_button-demo{
    position: absolute;
    width: 224px;
    height: 50px;
    top: 1917px;
    left: 1054px;
    border-radius: 50px;
    border-width: 2px;
    opacity: 20%;
    border: 2px solid rgba(12, 120, 247, 1);
    background-color: white;
    cursor: pointer;
    
}
.hero3_demo{
    top: 1px;
    left: 33px;
    position: absolute;
    font-family: Museo Sans Cyrl;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: rgba(59, 129, 235, 1);
    z-index: 10;


}
.hero3_start-use{ 
    position: absolute;
    width: 194.14706420898438px;
    height: 50px;
    top: 4px;
    left: 30px;
    font-family: Museo Sans Cyrl;
    font-weight: 600px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: white;
    
    
}
.div5{
    position: absolute;
    width: 181px;
    height: 99px;
    top: 1767px;
    left: 469px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);

}
.hero3_this-sistem-to-develop{
    position: absolute;
    width: 145.71974182128906px;
    height: 47.34782791137695px;
    top: 20px;
    left: 20px;
    font-family: Museo Sans Cyrl;
    font-weight: 600px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    z-index: 5;
    
    
}
    







}